body {

  margin: 0;
  padding: 0;

  background: #0f172a;

  color: white;

  font-family: Arial;

}

.container {

  width: 90%;

  max-width: 900px;

  margin: auto;

  text-align: center;

  padding-top: 20px;

}

video,
canvas {

  width: 100%;

  max-width: 700px;

  height: 400px;

  border-radius: 12px;

  border: 3px solid white;

  background: black;

}

canvas {

  position: absolute;

  left: 50%;

  transform: translateX(-50%);

}

button {

  margin-top: 20px;

  padding: 15px 30px;

  font-size: 18px;

  border: none;

  border-radius: 10px;

  background: #2563eb;

  color: white;

  cursor: pointer;

}

#status {

  margin-top: 20px;

  font-size: 22px;

  color: #38bdf8;

}

#chatBox {

  margin-top: 30px;

  background: #1e293b;

  padding: 20px;

  border-radius: 12px;

  min-height: 150px;

  text-align: left;

}
