body {

    margin: 0;
    padding: 0;

    background: #0f172a;

    color: white;

    font-family: Arial;

}

.container {

    width: 90%;

    max-width: 900px;

    margin: auto;

    text-align: center;

    padding-top: 30px;

}

h1 {

    margin-bottom: 20px;

}

video {

    width: 100%;

    max-width: 600px;

    height: 350px;

    object-fit: cover;

    border-radius: 12px;

    border: 3px solid white;

    background: black;

    display: block;

    margin: auto;

}

button {

    margin-top: 20px;

    padding: 15px 30px;

    font-size: 18px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    cursor: pointer;

}

button:hover {

    background: #1d4ed8;

}

#chatBox {

    margin-top: 30px;

    background: #1e293b;

    padding: 20px;

    border-radius: 12px;

    min-height: 200px;

    text-align: left;

}

.message {

    margin-bottom: 15px;

    padding: 10px;

    border-radius: 10px;

    word-wrap: break-word;

}

.user {

    background: #2563eb;

}

.ai {

    background: #334155;

}
